@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Abel;
  overflow: hidden;
}

#overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.5);
  pointer-events: none;
  transition: opacity 1s ease;

  color: #ecf0f1;
  font-size: 80px;

  button {
    display: none;
    padding: 12px 30px;
    border: 2px solid #fff;
    appearance: none;
    font-size: 24px;
    background: none;
    color: #ecf0f1;
    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      background: #ecf0f1;
      color: #000;
    }
  }

  &.hide {
    opacity: 0;
  }
}

body.loaded {
  #overlay {
    font-size: 0;

    button {
      display: block;
    }
  }
}
